
body{
    margin: 40px;
}

.wrapper{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
    background-color: #fff;
    color: #444;
}

.box{
    color: #fff;
    background-color: #444; 
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}