<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/simple-css-units.css" />
</head>

<body>

    <div class="container">
        <p>Blue ocean silo royal baby space glocal evergreen relationship housekeeping
            native advertising diversify ideation session. Soup-to-nuts herding cats resolutionary
            virtuoso granularity catalyst wow factor loop back brainstorm. Core competency
            baked in push back silo irrational exuberance circle back roll-up.</p>
    </div>


    <div>
        <div class="boxes">Fixed width layout with pixels</div>
        <div class="boxes">Liquid layout with percentages</div>
    </div>

</body>

</html>